.row {
	padding: 20px;
	color: white;
}

.animal {
	color: white;
	background-color: #dd7a1e;
	border-radius: 5px;
	width: 75px;
}

#row-3 {
	height: 600px;
}

#submit {
	width: 150px;
}

#addAnimal {
	width: 300px;
}

#container {
	background-image: url("../images/zoo.png");
}