.text {
    font-family: 'Indie Flower', cursive;
}

h1 {
	text-align: center;
}

.gif {
	border: 1px solid black;
    border-radius: 5%;
}

.row {
    padding: 20px;
    color: white;
}

.col {
	padding: 10px;
}

#row-1 {
    height: 100px;
}

.flags {
    height: 40px;
    float: left;
    padding: 5px;
}

.flags:hover {
    height: 50px;
    transition: .5s;
}

.animal {
    color: white;
    background-color: #dd7a1e;
    border-radius: 5px;
    width: 75px;
    font-family: 'Indie Flower', cursive;
    margin-right: 10px;
}

.animal:hover {
    background-color: orange;
    transition: .5s;
}

#row-3 {
    height: 600px;
}

#submit {
    width: 150px;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
}

#submit:hover {
    background-color: orange;
    transition: .5s;
}

#addAnimal {
    width: 300px;
}

#addAnimal:focus {
    background-color: #dd7a1e;
}

.container {
    background-image: url("../images/zoo.png");
}