.text {
	font-family: 'Indie Flower', cursive;
}

.row {
	padding: 20px;
	color: white;
}

.flags {
	height: 40px;
	float: left;
	padding: 5px;
}

.animal {
	color: white;
	background-color: #dd7a1e;
	border-radius: 5px;
	width: 75px;
	font-family: 'Indie Flower', cursive;
}

.animal:hover {
	background-color: orange;
	transition: .5s;
}

#row-3 {
	height: 600px;
}

#submit {
	width: 150px;
	color: black;
}

#submit:hover {
	background-color: orange;
	transition: .5s;
}

#addAnimal {
	width: 300px;
}

#addAnimal:focus {
	background-color: #dd7a1e;
}

.container {
	background-image: url("../images/zoo.png");
}